﻿/* Styl używany na stronach FLEKS */

/* Ustawienia */
body, #fleks_main.pun {
    font-family: 'Segoe UI',Arial,sans-serif;
    font-size: 12px;
}
.radio {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
header, form {
    margin: 1px 10px;
}
div#fleks_main {
    background-color: rgba(0, 41, 218, 0.2);
    border-radius: 10px;
    margin: auto;
    width: 100%;
    max-width: 640px;
}
h1, h2, h3, h4 {
    margin-bottom: 0;
}
h4 {
    font-style: italic;
    font-weight: 300;
    margin-top: 0;
}
h4:empty {
    display: none;
}
label {
    margin: 2px;
    padding: 2px;
}
label:hover {
    background-color: rgba(0, 41, 218, 0.15);
    border-radius: 5px;
}
label input {
    margin: 0;
}
#fleks_buttons input {
	padding: 0 1em;
	display: block;
	margin: 10px auto;
}
footer {
    text-align: center;
}

/* Instrukcja */
div#fleks_main.instrukcja {
    margin: 20px auto;
    padding: 1px 20px 10px;
    width: 800px;
}
.instrukcja h2 {
    margin-top: 1.5em;
}
.instrukcja h3 {
    margin-top: 2em;
    border-bottom: 1px solid gray;
}
.instrukcja h4 {
	margin-top: 1em;
	font-weight: bold;
	font-style: normal;
}
span.kod {
    background-color: #C0D5FC;
    font-family: monospace;
    line-height: 1.66em;
}
fieldset {
    margin: 10px;
    border: 1px #9AB7CB solid;
    border-radius: 10px;
}
legend {
    font-weight: bold;
    margin: 0 10px;
    padding: 0 10px;
}
ul.changelog {
    padding-left: 30px;
}
ul.changelog li {
    list-style: none;
}
h1:not(:empty):before {
	content: url("../favicon.png") ' ';
}
h1:empty + h2:before {
	content: url("../favicon.png") ' ';
}
li:before {
    font-weight: bold;
	font-family: monotype, sans-serif;
	display: inline-block;
	font-size: 1.2em;
	width: 1.5em;
    text-align: center;
}

li.plus:before {
    content: "+ ";
    color: green;
    text-shadow: 0 0 5px #60FF00;
}

li.ok:before {
    content: "✓ ";
    color: green;
    text-shadow: 0 0 5px #60FF00;
}

li.x:before {
    content: "X ";
    color: red;
    text-shadow: 0 0 3px red;
}

li.minus:before {
    content: " - ";
    color: red;
    text-shadow: 0 0 5px black;
}

li.idk:before {
    content: "? ";
    color: yellow;
    text-shadow: 0 0 3px black;
}