/* Styl dla urządzeń mobilnych
Kolorystka powinna iść do oddzielnych plików:
dzien.css dla dziennej wersji stylu
noc.css dla nocnej wersji stylu.
Poniżej przykładowy styl mobilny.
Można wykasować.*/
body {
	background-image: none !important;
}
body * {
	box-shadow: none !important;
	text-shadow: none !important;
	border-radius: 0px 0px 0px 0px !important;
	opacity: 1 !important;
}
body div#punwrap {
	background-image: none;
	max-width: 99%;
    width: 99% !important;
	min-width: 240px;
}
div#brdheader ~ div[style="text-align:center;"]:before {
    content: "Wersja mobilna forum.";
	width: 100% !important;
}
div.postleft {
    width: 100% !important;
}
div.postleft dd {
	display: none
}
div.postleft dl dt.postavatar {
	display: block;
}
div.postfootleft {
    width: 100px !important;
}
div.postright, div.postfootright {
    border: none !important;
    padding-left: 20px !important;
}
div.postright {
	float: left !important
}
div.postsignature {
    display: none !important;
}
dd.postavatar img {
    max-width: 100px !important;
    max-height: 60px !important;
    float: left !important;
	padding: 7px;
}
div#brdmenu li {
	font-size: 1.25em;
	margin-right: 1em;
	line-height: 2em;
}
.inbox td {
    padding-top: 0.5em;
}